:root {
    font-family: 'Lexend', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: #999;
}

.main {
    display: flex;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    background: #ffffff;
}

.left-side {
    max-width: 230px;
    width: 100%;
    background: #6665DD;
    display: flex;
    flex-direction: column;
    padding: 52px 26px 150px;
    color: #ffffff;
    position: relative;
}

.left-side p {
    font-weight: 300;
}

.color-text {
    position: relative;
    padding: 2px;
    font-weight: 500;
}

.color-text span {
    position: relative;
    z-index: 1;
    line-height: 1.5;
}

.color-text:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 4px);
    height: 90%;
    border-radius: 14px;
}

.color-text--white:before {
    background: #6665DD;
    color: #ffffff;
}

.color-text--green:before  {
    background: #07B98A;
    color: #ffffff;
}

.left-side__body {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.left-side__title {
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    position: relative;
    margin-bottom: 54px;
    padding-left: 16px;
}

.green-line {
    position: relative;
}

.green-line:before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 10px);
    height: 9px;
    background: #07B98A;
    border-radius: 14px;
}

.green-line__content {
    position: relative;
    z-index: 1;
}

.left-side__content {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 300;
}

.left-side__content--green {
    border-radius: 13px;
    background: #07B98A;
    box-shadow: 0 16px 16px -8px rgba(12, 12, 13, 0.05), 0 4px 4px -4px rgba(12, 12, 13, 0.05);
    padding: 36px 16px 32px 16px;
    margin-bottom: 57px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb52 {
    margin-bottom: 52px;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 62px 88px 52px;
    position: relative;
}

.line-group-top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.line-group-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.right-side__head {
    margin-bottom: 26px;
    position: relative;
    z-index: 2;
}

.right-side__head p {
    color: #061C3D;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-side__body {
    display: flex;
    flex-direction: column;
    color: #42526B;
    position: relative;
    z-index: 2;
}

.right-side__body h1,
.right-side__body h2,
.right-side__body h3,
.right-side__body h4,
.right-side__body h5,
.right-side__body h6 {
    color: #061C3D;
    font-weight: 600;
}

.right-side__title {
    text-align: center;
    font-size: 37px;
}

.right-side__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb8 {
    margin-bottom: 8px;
}

.mt18 {
    margin-top: 18px;
}

.right-side__textContent {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    margin-bottom: 30px;
}

.right-side__textContent p {
    font-size: 16px;
    font-weight: 300;
}

.right-side__textContent ul {
    margin-bottom: 4px;
    font-weight: 500;
}

.font-medium {
    font-weight: 500 !important;
}

.right-side__contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 16px;
    color: #061C3D;
}

.right-side__contact p {
    font-weight: 300;
}

.right-side__contact-col {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.right-side__contact-list {
    row-gap: 10px;
    padding-left: 0;
    list-style-type: none;
    color: #061C3D;
}

.right-side__contact-list li {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.right-side__contact-list a {
    color: #061C3D;
}

.right-side__contact-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 17px;
}

.link-icon {
    background: url("../public/link-icon.svg") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 17px;
    height: 17px;
    display: block;
}

.mail-icon {
    background: url("../public/mail-icon.svg") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 17px;
    height: 17px;
    display: block;
}

.phone-icon {
    background: url("../public/phone-icon.svg") no-repeat center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 17px;
    height: 17px;
    display: block;
}